<div class="container-fluid main">
  <div class="row">
    <div class="d-none d-xl-none d-lg-block d-xl-block col-lg-4 left">
      <div class="row icons">
        <div class="profile-img">
          <div class="circle"></div>
          <p>{{userName}}</p>
        </div>
      </div>
      <div class="row recent-chats">
        <div class="col-12">
          <ul class="list-group">
            <a>
              <li class="list-group-item list-group-item-action chat-item">
                <button class="btn btn-primary btn-block">Log Out</button>
              </li>
            </a>
            <a>
              <li class="list-group-item list-group-item-action chat-item">
                <h5>Online Users : </h5>
              </li>
            </a>
            <span *ngFor="let user of usersList">
              <a *ngIf="user.userId !== userInfo.userId">
                <li class="list-group-item list-group-item-action chat-item">
                  <div class="profile-img">
                    <div class="circle"></div>
                  </div>
                  <div class="chat-text">
                    <div class="chat-head">
                      <div class="user-name">
                        <span>{{user.name}}</span>
                      </div>
                    </div>
                  </div>
                </li>
              </a>
            </span>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-8 col-xs-12 right" *ngIf="initialLoad">
      <app-starting-comp></app-starting-comp>
    </div>
    <div class="col-lg-8 col-xs-12 right" *ngIf="!initialLoad">
      <div class="row icons user-info-right">
        <div class="profile-img">
          <div class="profile-img">
            <div class="circle"></div>
            <p>Vipin Verma</p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="chat-window">
          <div class="row user-chat">
            <div class="msg chat-item-left">
              <span>Hi! </span>
            </div>
          </div>
          <div class="row my-chat">
            <div class="msg chat-item-right">
              <span>Wassup dude!</span>
            </div>
          </div>
          <div class="row user-chat">
            <div class="msg chat-item-left">
              <span>Nothing just fun!</span>
            </div>
          </div>
          <div class="row my-chat">
            <div class="msg chat-item-right">
              <span>cool!</span>
            </div>
          </div>
          <div class="row user-chat">
            <div class="msg chat-item-left">
              <span>Lets catch up!</span>
            </div>
          </div>
          <div class="row my-chat">
            <div class="msg chat-item-right">
              <span>yup sure!</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row icons enter-chat">
        <div class="input-box">
          <input type="text" class="form-control" placeholder="Type a message" style="padding : 5px;">
        </div>
        <div>
          <button class="btn btn-primary" style="padding : 5px;">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>