<div class="container-fluid main">
  <div class="row">
    <div class="d-none d-xl-none d-lg-block d-xl-block col-lg-4 left">
      <div class="row icons">
        <div class="profile-img">
          <div class="circle"></div>
          <p>{{userName}}</p>
        </div>
      </div>
      <div class="row recent-chats">
        <div class="col-12">
          <ul class="list-group">
            <a>
              <li class="list-group-item list-group-item-action chat-item">
                <button class="btn btn-primary btn-block" (click)="logOut()">Log Out</button>
              </li>
            </a>
            <a>
              <li class="list-group-item list-group-item-action chat-item">
                <h5>Online Users : </h5>
              </li>
            </a>
            <span *ngFor="let user of usersList">
              <a *ngIf="user.userId !== userInfo.userId" (click)="onSelectUser(user)">
                <li class="list-group-item list-group-item-action chat-item" [ngClass]="{'activeChat' : user.chatting}">
                  <div class="profile-img">
                    <div class="circle"></div>
                  </div>
                  <div class="chat-text">
                    <div class="chat-head">
                      <div class="user-name">
                        <span>{{user.name}}</span>
                      </div>
                    </div>
                  </div>
                  <div class="profile-img">
                    <div class="unread-msg" [ngClass]="{'unread-active' : user.unReadMsg}"></div>
                  </div>
                </li>
              </a>
            </span>
            <a>
              <li class="list-group-item list-group-item-action chat-item">
                <h5>Unread Messages : </h5>
              </li>
            </a>
            <span *ngFor="let user of unreadChatUserList">
              <a>
                <li class="list-group-item list-group-item-action chat-item">
                  <div class="profile-img">
                    <div class="circle"></div>
                  </div>
                  <div class="chat-text">
                    <div class="chat-head">
                      <div class="user-name">
                        <span>{{user.firstName}} {{user.lastName}}</span>
                      </div>
                    </div>
                  </div>
                </li>
              </a>
            </span>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-8 col-xs-12 right" *ngIf="initialLoad">
      <app-starting-comp></app-starting-comp>
    </div>
    <div class="col-lg-8 col-xs-12 right" *ngIf="!initialLoad">
      <div class="row icons user-info-right">
        <div class="profile-img">
          <div class="profile-img">
            <div class="circle"></div>
            <p>{{reciverInfo.name}}</p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="chat-window" #scrollMe [scrollTop]="(scrollToChatTop)?0:scrollMe.scrollHeight">
          <div class="row" class="loadMore">
            <button class="btn btn-dark" style="padding : 5px; margin : 5px 0; " (click)="onloadPreviousChat()">Load More</button>
          </div>
          <span *ngFor="let message of messageList">
            <div class="row user-chat" style="margin-bottom : 10px;" *ngIf="message.receiverId == userInfo.userId">
              <div class="msg chat-item-left">
                <span>{{message.message}}</span>
              </div>
            </div>
            <div class="row my-chat" style="margin-bottom : 10px;" *ngIf="message.receiverId == reciverInfo.userId">
              <div class="msg chat-item-right">
                <span>{{message.message}}</span>
              </div>
            </div>
          </span>
        </div>
      </div>
      <div class="row icons enter-chat">
        <div class="input-box">
          <input type="text" class="form-control" placeholder="Type a message" style="padding : 5px;" [(ngModel)]="messageText" (keydown)="sendChatOnKeyPress($event)">
        </div>
        <div>
          <button class="btn btn-primary" style="padding : 5px;" (click)="sendChat()">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>